%h4 Enter Location

= form_for(@user, url: wizard_path, method: :put) do |f|
  = f.fields_for :location do |builder|
    .form-group.col-sm-12
      = builder.label :address, 'Address' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = builder.text_field :address, :class=>"form-control"
    .form-group.col-sm-12
      = builder.label :city, 'City' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = builder.text_field :city, :class=>"form-control"
    .form-group.col-sm-12
      = builder.label :zip, 'Zip' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = builder.text_field :zip, :class=>"form-control"
    .form-group.col-sm-12.fields
      = builder.label :country, 'Country' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = builder.select :country, ["United States", "Canada"] ,{:prompt => 'Select the Type'}, {:onChange => "populate_second_select(this.id)"}
    .form-group.col-sm-12.fields
      = builder.label :state, 'State' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = builder.select :state,{:prompt => true}
    .form-group.col-sm-12
      = builder.label :time_zone, 'TimeZone' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = builder.time_zone_select :time_zone
        %br
    .form-group.col-sm-12
      .col-sm-offset-2.col-sm-10
        = f.submit "create location",id:"set",:class=>"btn btn-primary reset"

