%h1 Enter info
= form_for @user,url: wizard_path ,:class=>"form-horizontal center" do |f| 
  .form-group.col-sm-12
    = f.label :first_name, 'FirstName' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.text_field :first_name, :class=>"form-control"
  .form-group.col-sm-12
    = f.label :last_name, 'LastName' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.text_field :last_name, :class=>"form-control" 
  .form-group.col-sm-12
    = f.label :phone_primary, 'Phone(primary)' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.text_field :phone_primary, :class=>"form-control"
  .form-group.col-sm-12
    = f.label :phone_secondary, 'Phone(secondary)' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.text_field :phone_secondary, :class=>"form-control"
  .form-group.col-sm-12
    = f.label :avatar, 'Profile Picture' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.file_field :avatar, :class=>'form-control'
  - if current_user.user?
    .form-group.col-sm-12
      = f.label :birth_year, 'Birth_year' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = f.date_select :birth_year,start_year: 1960,discard_day:true,discard_month:true, :class=>"form-control"
    .form-group.col-sm-12
      = f.label :gender, 'Gender' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = f.select :gender,[:male,:female,:unspecified], :class=>"form-control"
    .form-group.col-sm-12
      = f.label :criminal_convictions, 'CriminalConvictions' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-1.cheklist
        = f.check_box :criminal_convictions, :class=>"control"
    .form-group.col-sm-12
      = f.label :drivers_licence, 'DriversLicence' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-1.cheklist
        = f.check_box :drivers_licence, :class=>"control"
    .form-group.col-sm-12
      = f.label :drivers_licence_class, 'LicenceClass' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-1.cheklist
        = f.check_box :drivers_licence_class, :class=>"control"
    .form-group.col-sm-12
      = f.label :has_vehicle, 'HasVehicle' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-1.cheklist
        = f.check_box :has_vehicle, :class=>"control"
    .form-group.col-sm-12
      = f.label :car_pool, 'CarPool' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-1.cheklist
        = f.check_box :car_pool, :class=>"control"
  - else
    = f.fields_for :employer do |builder|
      .form-group.col-sm-12
        = builder.label :business_name, 'Business Name' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = builder.text_field :business_name, :class=>"form-control"
      .form-group.col-sm-12
        = builder.label :industry, 'Industry' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = builder.text_field :industry, :class=>"form-control" 
      .form-group.col-sm-12
        = builder.label :phone, 'Phone' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = builder.text_field :phone, :class=>"form-control"
      .form-group.col-sm-12
        = builder.label :website, 'Website' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = builder.text_field :website, :class=>"form-control"
      .form-group.col-sm-12
        = builder.label :description, 'Description' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = builder.text_area :description, :class=>"form-control"
      .form-group.col-sm-12
        = f.label :business_activity_list, 'BusinessActivityKeyword' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = f.text_field :business_activity_list, :class=>"tm-input"  
      .form-group.col-sm-12
        = builder.label :formation_year, 'FormationYear' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = builder.date_select :formation_year,start_year: 1960,discard_day:true,discard_month:true,:class=>"form-control"
      .form-group.col-sm-12
        = builder.label :additional_information, 'AdditionalInformation' ,:class=>"col-sm-2 control-label text-right"
        .col-sm-4
          = builder.text_area :additional_information,start_year: 1960,discard_day:true,discard_month:true,:class=>"form-control"
  = f.submit "continue",id:"set",:class=>"btn btn-primary reset col-sm-offset-2"
:javascript

  jQuery(".tm-input").tagsManager({
   delimiters: [9, 13, 44],
    blinkBGColor_1: '#FFFF9C',
   blinkBGColor_2: '#CDE69C',
  }  
  )
  jQuery(function() {
     $('#user_business_activity_list').tokenInput('./tags.json', {
      propertyToSearch: 'title'
    });
  });s