
<div class="job">
<div class="col-lg-12 topfilde borlist">
    <br>

    <div class="col-lg-2 col-lg-6">
    <div class="form-group ">
    <label class="col-sm-5 labl" for="inputPassword">Job ID</label>
    <div class="col-sm-7">
      <span class="form-control"><%=job.id rescue "" %></span>
    </div>
  </div></div>
  
  
  
   <div class="col-lg-3">
    <div class="form-group">
    <label class="col-sm-7 labl" for="inputPassword">Work Duration (days)</label>
    <div class="col-sm-5">
      <span class="form-control"><%=job.work_duration rescue "" %></span>
    </div>
  </div></div>
    
   <div class="col-lg-4">
    <div class="form-group">
    <label class="col-sm-7 labl" for="inputPassword">Desired Wage ($/hr)</label>
    <div class="col-sm-5">
      <span class="form-control"><%=job.desired_wage rescue "" %></span>
    </div>
  </div></div>
  
  <div class="col-lg-3">
    <div class="form-group">
    <label class="col-sm-7 labl" for="inputPassword">Max Wage ($/hr)</label>
    <div class="col-sm-5">
      <span class="form-control"><%=job.max_wage rescue "" %></span>
    </div>
  </div></div>
  
  </div>

<div class="col-lg-12 topfilde1">
  <div class="col-lg-4">
    <div class="form-group">
    <label class="col-sm-3 labl" for="inputPassword">Job Title</label>
    <div class="col-sm-9">
      <span class="form-control"><%=job.title rescue "" %></span>
    </div>
  </div></div>
  
  
  <div class="col-lg-4">
    <div class="form-group">
    <label class="col-sm-4 labl" for="inputPassword">Hours per day</label>
    <div class="col-sm-4">
      <span class="form-control"><%=job.hours_per_day rescue "" %></span>
    </div>
  </div></div>
  
  <div class="col-lg-4">
    <div class="form-group">
    <label class="col-sm-4 labl" for="inputPassword">Start Date</label>
    <div class="col-sm-5">
      <span class="form-control"><%=job.start_date rescue "" %></span>
    </div>
  </div></div>
  
          
     </div>

  </div>