
<div class="col-lg-10">
  <h1 align="center">Show Page </h1>
  <div class="col-lg-5 col-lg-offset-5">
    <table class="table table-bordered">
      <tr ><th colspan="2">Job Detail</th></tr>
      <tr><th>Job id</th> <td><%= @employer_job_id %></td></tr>
      <tr><th>Job Title</th> <td><%=@job.title%></td></tr>
      <tr><th>Posting Date</th> <td><%=@job.updated_at.try(:strftime, '%d %b %Y')%></td></tr>
      <tr><th>Listing Expiry</th> <td><%=@job.listing_expires_on.try(:strftime, '%d %b %Y, %H:%M %p')%></td></tr>
      <tr><th>Job Category</th> <td><%=@job.job_category%></td></tr>
      <tr><th>Work Duration (days)</th> <td><%=@job.work_duration%></td></tr>
      <tr><th>Hours per Day</th> <td><%=@job.hours_per_day%></td></tr>
      <tr><th>Start Date</th> <td><%=@job.start_date%></td></tr>
      <tr><th>Desired Wage ($/hr)</th> <td><%=@job.desired_wage%></td></tr>
      <tr><th>Max Wage ($/hr)</th> <td><%=@job.max_wage%></td></tr>
      <tr><th>Job Description</th> <td><%=@job.description%></td></tr>
      <tr><th>Business Name</th> <td><%=current_user.employer.business_name%></td></tr>
     
      <tr><th colspan="2">Job Location</th></tr>
      <tr><th >Address Line 1</th> <td><%= @job.location.address rescue "nil" %></td></tr>
      <tr><th >Address Line 2</th> <td><%=@job.location.second_address rescue "nil" %></td></tr>
      <tr><th >Country</th> <td><%=@job.location.country rescue "nil" %></td></tr>
      <tr><th >State</th> <td><%=@job.location.state rescue "nil" %></td></tr>
      <tr><th >City</th> <td><%=@job.location.city rescue "nil" %></td></tr>
      <tr><th >Zip Code</th> <td><%=@job.location.zip rescue "nil" %></td></tr>



   </table>
 </div>
</div>

