%footer
  .container
    .col-lg-3.col-xs-offset-5
      .Soical-icon
        %a{:href => "#"}
          = image_tag('facebook.png')
        %a{:href => "#"}
          = image_tag('twitter-icon.png')
        %a{:href => "#"}
          = image_tag('gmail-icon.png')
        %a{:href => "#"}
          = image_tag('youtube-icon.png')
      %p.copyright
        \&copy; 2014
        = succeed ".com" do
          %b Greatest Hire