      <div id="myCarousel" class="carousel slide box-shadow-search" data-ride="carousel"> 
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <% if Rails.env.development? %>
            <div class="item active"> <%= image_tag '/assets/silder-img1.png' %></div>
            <div class="item"> <%= image_tag '/assets/silder-img2.png' %></div>
            <div class="item"> <%= image_tag '/assets/silder-img3.png' %></div>
         <% else %>
            <div class="item active"> <%= image_tag('silder-img1.png') %></div>
            <div class="item"> <%= image_tag('silder-img2.png') %></div>
            <div class="item"> <%= image_tag('silder-img3.png') %></div>
          <% end %>
        </div>
        <div class="col-lg-6 searchouter">
          <%= form_tag('/jobs/search', method: :get) do -%>
            <p id="gmaps-error" style="display:none;"></p>
            <%= text_field_tag 'gmaps-input-address', nil, class: 'seainput', placeholder: 'Where are you ... ?' %>
            <%= submit_tag 'Search', class: 'btn btn-success btn-lg pull-right buttonsearch' %>
          <% end %>
        </div>
      </div>
