<div class="container">
<div class="col-lg-12"><h2>Create Job Listing</h2></div></div>
<div class="container">
  <div class="row  job-listingout">
 
  
  
    <div class="col-lg-12">
      <h2>Progress Indictor : Step 1 of 5</h2>
        
        <div class="col-lg-12">
        <div class="job-listf">
        <h2><a href="job_details.html">Job Details</a><img src="/assets/arrow-icon.png"></h2></div>
           <div class="Candidate-icon">
        <h2><a href="candidate-prioritization.html">Candidate Prioritization</a><img src="/assets/arrow-icon.png"></h2></div>
         <div class="image-icon">
        <h2><a href="image.html">Images</a><img src="/assets/arrow-icon.png"></h2></div>
        
        
        
        <div class="education-icon">
        <h2><a href="education_certifications.html">Education and 
Certifications</a><img src="/assets/arrow-icon.png"></h2></div>
        <div class="payments-icon">
        <h2><a href="payments.html">Payments</a></h2></div>
        </div>

         

       
      

    </div>
    
    
   

<div class="col-lg-12 location-box">

<h2>Employee Prioritization Metrics</h2>
<%= form_for(@job, url: wizard_path, method: :put) do |f| %>
  <%= f.fields_for :metrics do |metric| %>
<!-- <div class="col-lg-12">
 <div class="col-lg-4">
 
  <div class="checkbox checkbox2">
    <label>
      <input type="checkbox"> Enable 1
    </label>
  </div>
  
<div class="btn-group  menunnleft">
  <button type="button" class="btn btn-default">Rating</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu dropdown-menunn" role="menu">
    <li><a href="#">Rating</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> 
</div>

<div class="col-lg-6 reting">
 <div class="col-lg-4"><h2>Least Important</h2></div>
 <div class="col-lg-3"><input type="text" data-slider="true" value="" data-slider-highlight="true"></div>
 <div class="col-lg-4" style="margin:0 0 0 0px;"><h2>Most Important</h2></div>
</div>

</div> -->
  
<div class="col-lg-12">
 <div class="col-lg-4">
 
  <div class="checkbox checkbox2">
    <label>
      <input type="checkbox"> Enable 1
    </label>
  </div>
  
<div class="btn-group  menunnleft">
<%= metric.select :metric_type_id, MetricType.all.collect {|m| [ m.name, m.id ] }, {include_blank: 'Metric Type'}, :class=>"form-control", :style=>"width:90px;" %>
</div> 
</div>

<div class="col-lg-6 reting">
 <div class="col-lg-4"><h2>Least Important</h2></div>
 <div class="col-lg-3">
<!--   <input type="text" data-slider="true" value="" data-slider-highlight="true"> -->
<%= metric.text_field :value, :'data-slider'=>"true" , :'data-slider-highlight'=>"true", :'data-slider-range'=>"1,5", :'data-slider-step'=>"1" %>
</div>
 <div class="col-lg-4" style="margin:0 0 0 0px;"><h2>Most Important</h2></div>
</div>

</div>

<div class="col-lg-12">
 <div class="col-lg-4">
 
  <div class="checkbox checkbox2">
    <label>
      <input type="checkbox"> Enable 1
    </label>
  </div>
  
<div class="btn-group  menunnleft">
<%= metric.select :metric_type_id, MetricType.all.collect {|m| [ m.name, m.id ] }, {include_blank: 'Metric Type'}, :class=>"form-control", :style=>"width:90px;" %>
</div> 
</div>

<div class="col-lg-6 reting">
 <div class="col-lg-4"><h2>Least Important</h2></div>
 <div class="col-lg-3">
<!--   <input type="text" data-slider="true" value="" data-slider-highlight="true"> -->
<%= metric.text_field :value, :'data-slider'=>"true" , :'data-slider-highlight'=>"true", :'data-slider-range'=>"1,5", :'data-slider-step'=>"1" %>
</div>
 <div class="col-lg-4" style="margin:0 0 0 0px;"><h2>Most Important</h2></div>
</div>

</div>



</div>
  <%= f.submit "Next",:class=>"btn btn-primary reset" %>  
  <% end %>
<% end %>  
  </div>
  
<div class="col-lg-12 btnnextstep">
  <button type="button" class="btn btn-success pull-left btn-nextstep">Proceed to Next Step</button>
  <button type="button" class="btn btn-success pull-left btn-nextstep bttn-leftmar">Proceed to Next Step</button>

</div>  
  
</div>

  <!--/row--> 