.col-sm-12
  = form_for @certification,id:"myForm",:class=>"form-horizontal",remote: true do |f|
    .form-group
      = f.label :title, 'Title' ,:class=>"col-sm-2 control-label text-right"
      .col-sm-4
        = f.text_field :title, id:"test", :class=>"form-control"
        %br
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "create certification",id:"set",:class=>"btn btn-primary reset"
        %br
        %br
.col-sm-offset-2.col-sm-4
  %b All Certitification
  %table#certification.table.table-hover= render @certifications

