.container
  .col-lg-12
    %h2 Create Job Listing
.container
  .row.job-listingout
    .container.enrollment_top
      .col-lg-12
        %h2 Progress Indictor : Step 1 of 5
        .col-lg-12
          .enrollment-contact
            %h2
              %a{href: "#"} Contact Information
              %img{src: "images/arrow-icon.png"}/
          .enrollment-detail
            %h2
              %a{href: "#"} Details
              %img{src: "images/arrow-icon.png"}/
          .enrollment-time
            %h2
              %a{href: "#"} Availability
              %img{src: "images/arrow-icon.png"}/
          .enrollment-imga
            %h2
              %a{href: "#"} Images and Attachments
        .container
          .row
            .col-lg-8
              = form_for(@user, url: wizard_path, method: :put) do |f|
                .form-group
                  = f.label :tag_list, 'SkillSet' ,:class=>"col-sm-2 control-label text-right "
                  .col-sm-8
                    = f.text_field :tag_list, :class=>"tm-input tm-input-info form-control" 
                .form-group
                  = f.label :certificate_list, 'Education and Certifications' ,:class=>"col-sm-2 control-label text-right"
                  .col-sm-8
                    = f.text_field :certificate_list, :class=>"tm-input" ,placeholder: "High school diploma, 2009, community service award, 2010-2011" 

                .container
                  .col-lg-11.location-box
                    %h2 Transportation Details
                    .col-lg-8
                      .form-horizontal{role: "form"}
                        .checkbox.checkbox2.transportation
                          = f.check_box :drivers_licence, :class=>"control"
                          = f.label :drivers_licence, 'Drivers License'
                        .checkbox.checkbox2.transportation  
                          = f.check_box :has_vehicle, :class=>"control "
                          = f.label :has_vehicle, 'Has Vehicle' 
                        .checkbox.checkbox2.transportation
                          = f.check_box :car_pool, :class=>"control"
                          = f.label :car_pool, ' Willing to Carpool' 
                 
        .container
          .row
            .col-lg-11
              .form-group.col-lg-5.topmrg
                %label.col-sm-3.control-label{for: "inputEmail3"}
                .btn-group.menunlefttt
                  %button.btn.btn-default{type: "button"} Gender
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    %span.caret
                    %span.sr-only Toggle Dropdown
                  %ul.dropdown-menu.dropdown-menunn{role: "menu"}
                    %li
                      %a{href: "#"} Rating
                    %li
                      %a{href: "#"} Another action
                    %li
                      %a{href: "#"} Something else here
                    %li.divider
                    %li
                      %a{href: "#"} Separated link
            .col-lg-12
              .form-group.col-lg-4.topmrggg2
                %label.col-sm-4.control-labelll{for: "inputEmail3"} Year of Birth
                .btn-group.menunlefttt
                  %button.btn.btn-default{type: "button"} 1965
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    %span.caret
                    %span.sr-only Toggle Dropdown
                  %ul.dropdown-menu.dropdown-menunn{role: "menu"}
                    %li
                      %a{href: "#"} 1965
                    %li
                      %a{href: "#"} 1988
                    %li
                      %a{href: "#"} 1970
                    %li
                      %a{href: "#"} 1865
            .col-lg-8.topmrggg
              %form.form-horizontal{role: "form"}
                .form-group
                  %label.col-sm-2.control-label{for: "inputPassword3"} Credit Score
                  .col-sm-8
                    %input#inputPassword3.form-control{placeholder: "555.555.5555", type: "password"}/
            .col-lg-12
              .checkbox.checkbox2.transportation
                %label
                  %input{type: "checkbox"}>/
                  Criminal Convictions
        .col-lg-12.btnnextstep
          %button.btn.btn-success.pull-left.btn-nextstep{type: "button"} Previous Step
          %button.btn.btn-success.pull-left.btn-nextstep.bttn-leftmar{type: "button"} Next Step
      / /row
    %footer
      .container
        .col-lg-3.col-xs-offset-5
          .Soical-icon
            %a{href: "#"}
              %img{src: "images/facebook.png"}/
            %a{href: "#"}
              %img{src: "images/twitter-icon.png"}/
            %a{href: "#"}
              %img{src: "images/gmail-icon.png"}/
            %a{href: "#"}
              %img{src: "images/youtube-icon.png"}/
          %p.copyright
            \© 2014
            = succeed ".com" do
              %b Greatest Hire
:javascript
  window.onload = function()
    {
      $("#edit_user_6").addClass("form-horizontal");
    }
    