= render 'navigate_wizard'
.container
  - if current_user.employer?
    %h1 Business Hours
  - else
    %h1 Working Hours
  .row
    = form_for(@user, url: wizard_path, method: :put) do |f|
      - if @user.errors.any?
        .error_messages
          %h3
            = pluralize(@user.errors.count, "error")
            prohibited Work Hour(s) from being saved:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.fields_for :work_hours do |builder|
          / =render 'work_hours_fields', f: builder
          =render 'workhours', f: builder
        =link_to_add_fields " Add More", f, :work_hours
        %br
        %br
        =f.submit "Submit", :class =>"btn btn-default"
.col-lg-12.btnnextstep
  %button.btn.btn-success.pull-left.btn-nextstep{type: "button"} Previous Step
  %button.btn.btn-success.pull-left.btn-nextstep.bttn-leftmar{type: "button"} Clear
  %button.btn.btn-success.pull-left.btn-nextstep.bttn-leftmar{type: "button"} Next Step
/ /row
%footer
  .container
    .col-lg-3.col-xs-offset-5
      .Soical-icon
        %a{href: "#"}
          %img{src: "/assets/facebook.png"}/
        %a{href: "#"}
          %img{src: "/assets/twitter-icon.png"}/
        %a{href: "#"}
          %img{src: "/assets/gmail-icon.png"}/
        %a{href: "#"}
          %img{src: "/assets/youtube-icon.png"}/
      %p.copyright
        \© 2014
        = succeed ".com" do
          %b Greatest Hire
