%h1 Location
= form_for @location,url: {action: "create"},:class=>"form-horizontal center",remote: true do |f|
  .form-group.col-sm-12
    = f.label :address, 'Address' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.text_field :address, :class=>"form-control"
  .form-group.col-sm-12
    = f.label :city, 'City' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.text_field :city, :class=>"form-control"
  .form-group.col-sm-12
    = f.label :zip, 'Zip' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.text_field :zip, :class=>"form-control"
  
  .form-group.col-sm-12.fields
    = f.label :country, 'Country' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.country_select :country, {priority: %w(US CA), prompt: 'Please select a country',:class=>"form-control"}   
  .form-group.col-sm-12
    = f.label :state, 'state' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = render partial: 'subregion_select', locals: {parent_region: f.object.country}, :class=>"form-control"
  .form-group.col-sm-12
    = f.label :time_zone, 'TimeZone' ,:class=>"col-sm-2 control-label text-right"
    .col-sm-4
      = f.time_zone_select :time_zone, :class=>"form-control"
      %br
  .form-group.col-sm-12
    .col-sm-offset-2.col-sm-10
      = f.submit "create location",id:"set",:class=>"btn btn-primary reset"
      