.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-navcust
        %li
          - if user_signed_in?
            = link_to 'Edit account', edit_user_registration_path
          - else
            = link_to 'Sign up', new_user_registration_path
        %li.active
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, :method=>'delete' 
          - else
            = link_to 'Login', new_user_session_path
        %li
          - if user_signed_in?
            = link_to 'Users', users_path
      .navbar-branddd
        = link_to root_path do
          = image_tag('logo.png')
      %ul.nav.navbar-nav.navbar-right.navbar-navcustright
        %li
          %a{:href => "#"}
            -if user_signed_in?
              - if current_user.photos.where(:is_primary=>true).first.present?
                = image_tag current_user.photos.where(:is_primary=>true).first.image.url(:thumb), :class=>"circular"
              -else
                = image_tag('icon-user-default.png', :class=>"circular")
              %span Hi,
              = current_user.name
              
    / /.nav-collapse