.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-navcust
        %li
          - if user_signed_in?
            = link_to 'Edit account', edit_user_registration_path
          - else
            = link_to 'Sign up', new_user_registration_path     
        %li.active
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, :method=>'delete' 
          - else
            = link_to 'Login', new_user_session_path

        %li
          - if user_signed_in?
            = link_to 'Users', users_path

      %div.nav.navbar-nav
        %li.logo
          = link_to root_path do
            %img{:src => "/assets/logo.png", :alt => "LOGO"}

      %ul.nav.navbar-nav.navbar-right.navbar-navcustright
        %li
          %a{:href => "#"}
            -if user_signed_in?
              - if current_user.photos.where(:is_primary=>true).first.present?
                = image_tag current_user.photos.where(:is_primary=>true).first.image.url(:thumb), :class=>"circular"
              - if current_user.first_name.present? and current_user.last_name.present?
                %span Hi,
                = current_user.first_name+" "+current_user.last_name
              - else
                %span Hi,
                = current_user.name
              
    / /.nav-collapse
